@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/mixins';

// .container {}

.section {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

// .about {}

// .why {}

// .video {}
