@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/mixins';

.container {
  margin: 0 auto;

  @include screen-1280 {
    padding: 60px 20px 0;
  }
}

.wrapper {
  width: 100%;
}