$main-color: #599921;
$main-color2: #518B26;
$white: #FFFFFF;
$milk: #F5F5F5;
$text-bold: #2D2C2C;
$text-normal: #6D6D6D;
$checkbox: #5c5752;
// $border: #ECECEC;
$border: #E9E9E9;
$yellow: #FFCC00;
$red: #EF2F3D;
$fb: #255A9C;
$inst: url(#a);
$overlay: rgba(0,0,0,.4);

// ---------- for testing -----------

$test-p: pink;
$test-b: blue;
$test-v: violet;
$test-bi: bisque;
$test-lg: lightgreen;
