$green: #599921;
$green2: #518B26;
$yellow: #FFCC00;
$yellow2: #FFAF00;
$red: #EF2F3D;
$red2: #DB2526;
$white: #FFF;
$milk: #F5F5F5;

$text-bold: #2D2C2C;
$text-normal: #6D6D6D;

$checkbox: #5c5752;
// $border: #ECECEC;
$border-select: #DDD;
$border: #E9E9E9;
$fb: #255A9C;
$inst: url(#a);
$overlay: rgba(0,0,0,.4);

// ---------- for testing -----------

$test-p: pink;
$test-b: blue;
$test-v: violet;
$test-bi: bisque;
$test-lg: lightgreen;
