@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/mixins';

.title6 {
  margin: 20px 0;
  font-weight: 500;
}

.row {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
